.shop {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.up {
  display: flex;
  height: calc(100vh - 90px);
}

.down {
  height: 30px;
  flex-shrink: 0;
}


.left {
  flex-shrink: 0;
  overflow-y: scroll;
}

.right {
  width: 100%;
  overflow-y: scroll;
}